.about-hero {
   position: relative;
   .about-background {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .background {
            position: absolute;
            content: "";
            width: 100%;
            height: 25%;
            top: 0;
            left: 0;
        }
        .background-1 {
            background-color: #F39C81;
        }
        .background-2 {
            background-color:#D96237;
            top: 25%;
        }
        .background-3 {
            background-color:#9E7152;
            top: 50%;
        }
        .background-4 {
            background-color:#21354E;
            top: 75%;
        }
    }   

    
   
}
.about-content {
    .about {
        a {
            color:#21354E;
            font-size: 30px;
            font-weight: 500;
            display: block;
        }
        p {
            font-size: 18px;
            line-height: 30px;
            color:#21354E;
            font-weight: 400;
        }
    }
}


// Responsive 

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) { 
   
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .about-hero {
        .hero-content {
            padding-bottom: 60px;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .about-hero {
        .hero-content {
            padding-bottom: 60px;
        }
    }
    .about-content {
        .about {
            a {
                font-size: 26px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .about-hero {
        .hero-content {
            padding-bottom: 60px;
        }
    }
    .about-content {
        .about {
            a {
                font-size: 28px;
            }
        }
    }
}
 
 