.accordion-area {
    .accordion-title {
        h1 {
            font-weight: bold;
            font-size: 44px;
            line-height: 52px;
            margin: 0;
            padding-bottom: 30px;
        }
        p {
            font-size: 18px;
            line-height: 30px;
            color: $heading-color;
        }
    }
    .accordion-tab {
        background: #FAFAFF;
        border: 1px solid #E2E2E6;
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
        margin-bottom: 20px;

        .accordion-toogle {
            display: none;
            &:checked {
                ~ .spinner-1 {
                   opacity: 0;
                }
                ~ .accordion-content {
                    max-height: 100vh;
                }
                
            }
        }

        label {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #21354E;
            padding-right: 40px;

            .spinner-icon {
                position: absolute;
                top: 28px;
                width: 30px;
                height: 30px;
                right: 40px;
                z-index: 99;
                @include transition(0.3s);
    
                .spinner {
                    height: 4px;
                    background-color: #21354E;
                    margin-top: 14px;
                    border-radius: 10px;
                }
                .spinner-1 {
                    margin-bottom: -18px;
                    transform: rotate(90deg);
                }
            }
            
        }
        .accordion-content {
            max-height: 0;
            overflow: hidden;
            @include transition(0.7s);
            p {
                font-size: 18px;
                line-height: 30px;
                padding-top: 20px;
                color: #7D90A6;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    font-size: 18px;
                    line-height: 30px;
                    padding-top: 10px;
                    color: #7D90A6;
                }
            }
        }
        
    }
}

// Responsive 

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .accordion-area {
        .accordion-title{
            h1 {
                font-size: 35px;
                line-height: 10px;
            }
            p {
                font-size: 16px;
            }
        }
        .accordion-tab {
            padding-left: 20px;
            padding-right: 20px;
            label {
                font-size: 18px;
                line-height: 30px;
                padding-right: 60px;

                .spinner-icon {
                    top: 19px;
                    width: 20px;
                    height: 20px;
                    right: 20px;

                    .spinner {
                        height: 2px;
                        margin-top: 16.5px;
                    }
                }
            }
            .accordion-content {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .accordion-area {
        .accordion-tab {
            padding-right: 20px;
            padding-left: 20px;
            label {
                font-size: 20px;
                line-height: 30px;

                .spinner-icon {
                    top: 19px;
                    width: 20px;
                    height: 20px;
                    right: 20px;

                    .spinner {
                        height: 2px;
                        margin-top: 16.5px;
                    }
                }
            }
        }
    }
    
}