.dremal-hero {
    background-color: #9E7152;

    .hero-content {
        padding-top: 110px;
        padding-bottom: 80px;
        h2 {
            padding-right: 288px;
        }
        p {
            padding-right: 100px;
        }
    }
    .dremal-button {
        a {
            background-color: #fff;
            color:#9E7152;
    
            &:hover {
                background-color: #fff;
                color:#945124;
            }
        }
    }
}


// Responsive 

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) { 
   
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .dremal-hero {
        .hero-content {
            padding-top: 60px;
            padding-bottom: 530px;
            text-align: center;

            h2 {
                padding-right: 0;
            }
            p {
                padding-right: 0;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .dremal-hero {
        .hero-content {
            padding-top: 60px;
            padding-bottom: 300px;
            text-align: center;

            h2 {
                padding-right: 0;
            }
            p {
                padding-right: 0;
            }
        }
        .hero-image {
            right: 0;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .dremal-hero {
        .hero-content {
            padding-top: 60px;
            padding-bottom: 420px;
            text-align: center;

            h2 {
                padding-right: 0;
            }
            p {
                padding-right: 0;
            }
        }
        .hero-image {
            right: 0;
        }
    }
}
 
 